@font-face {
    font-family: raleway;
    src: url('../../fonts/Raleway/Raleway-Regular.ttf')
}

@font-face {
    font-family: raleway-bold;
    src: url('../../fonts/Raleway/Raleway-Bold.ttf')
}

