// Colors

$clr1: #62e0d9;
$clr2: #ffffff;
$clr3: #dfe4f0;
$clr4: #c0c0c0;
$clr5: #1b2330;

// Breakpoints
$mobile-breakpoint: 500px;
$small-breakpoint: 650px;
$medium-breakpoint: 750px;
$narrow-breakpoint: 1100px;
$normal-breakpoint: 1300px;
$wide-breakpoint: 1500px;
$x-wide-breakpoint: 2000px;